fastapi
uvicorn
pillow
easyocr==1.6.2
opencv-python-headless
numpy
spacy
transformers
torch
anthropic
httpx
python-multipart
python-dotenv
sqlalchemy
passlib[bcrypt]
bcrypt
python-jose[cryptography]
fastapi-mail
pydantic[email]
requests
pytesseract
rapidfuzz
python-bidi==0.4.2
bidi==0.0.1
